@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  /* Primary */
  --clr-blue: hsl(246, 80%, 60%);
  --clr-light-orange: hsl(15, 100%, 70%);
  --clr-soft-blue: hsl(195, 74%, 62%);
  --clr-light-red: hsl(348, 100%, 68%);
  --clr-lime-green: hsl(145, 58%, 55%);
  --clr-violet: hsl(264, 64%, 52%);
  --clr-light-yellow: hsl(43, 84%, 65%);

  /* Neutral */
  --clr-very-dark-blue: hsl(226, 43%, 10%);
  --clr-dark-blue: hsl(235, 46%, 20%);
  --clr-desaturated-blue: hsl(235, 45%, 61%);
  --clr-pale-blue: hsl(236, 100%, 87%);
  --clr-white: hsla(0, 0%, 100%, 0.87);

  font-family: 'Rubik', sans-serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  /* color-scheme: light dark; */
  color: var(--clr-white);
  background-color: var(--clr-very-dark-blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 400;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
