.header {
  
  &__bio {
    opacity: .3;
    padding: 2.0625rem 1.8125rem 1.5625rem;
    display: flex;
    gap: 1.125rem;
    background-color: var(--clr-blue);
    border-radius: 1rem;

    > div:last-child {
      flex: 1;
    }

    &--image {
      width: 4.0625rem;
      height: auto;
      object-fit: cover;
      border: solid 3px var(--clr-white);
      border-radius: 50%;
    }

    &--title {
      padding-top: .5rem; 
      letter-spacing: -0.5px;

      span {
        font-weight: 400;
        font-size: 0.95rem;
      }

      h1 {
        margin: .35rem 0 0;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 16px;
      }
    }
  }
}